<div class="nav_left">
    <div class="nav_text">Страница 
        <span class="nav_text-desktop-current-page">4</span>
        <span class="nav_text-desktop">из</span>
        <span class="nav_text-desktop-total-page">15</span>
    </div>
    <div class="nav_wrap">
        <div class="triangle-left"></div>
        <ul class="nav-list">  
        </ul>
        <div class="triangle-right"></div>
    </div>
    <div class="controls">
        <a href="#" class="button__link controls__prev">Назад</a>
        <a href="#" class="button__link controls__next">Вперед</a>
    </div>
</div>
<div class="nav_right">
   <div class="nav_text">Показать по:</div> 
    <ul class="nav-list-right">
        <li class="nav-item-right nav-item-right-active"><a href="#" class="nav__item__right-link">10</a></li>
        <li class="nav-item-right"><a href="#" class="nav__item__right-link">40</a></li>
        <li class="nav-item-right"><a href="#" class="nav__item__right-link">100</a></li>
        <li class="nav-item-right"><a href="#" class="nav__item__right-link">200</a></li>
    </ul>
</div>