@font-face {
    font-family: 'Mb';
    src: url('../fonts/fontfabric_-_mullerbold-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Mm';
    src: url('../fonts/fontfabric_-_mullermedium-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullermedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Mr';
    src: url('../fonts/fontfabric_-_mullerregular-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}